@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

html,
body {
   font-family: 'Source Sans Pro', sans-serif;
   padding: 0;
   margin: 0;
   line-height: 1.6;
   font-size: 18px;
   background-color:#FAFAFA;
   color: #273959;
   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
}

a {
   color: #55C1FF;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}

p {
   font-size: 20px;
   line-height: 1.6;
}

ul {
   margin: 0;
   padding: 0;
}


.mainContainer {
   max-width: 100%;
   margin: 0 auto;
}

.smlContainer {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
}

nav ul li a.active {
   font-weight: 500;
   color: #916DF9;
   border-radius: 4px;
}

nav ul li ul li a.active {
   font-weight: 500;
   color: #273959;
}

button {
   background-color: #916DF9;
   color: #FFF;
   border-radius: 8px;
   padding: 16px 24px;
   border: none;
   font-size: 16px;
   cursor: pointer;
}

.underline {
   font-weight: 600;
   display: inline-block;
   padding-bottom: 5px;
   position: relative;
   margin-bottom: 40px;
}

.underline:before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid #916DF9;
}

.underlineCentre {
   width: 100%;
   font-weight: 600;
   display: inline-block;
   text-align: center;
   padding-bottom: 5px;
   position: relative;
   margin-bottom: 40px;
}

.underlineCentre:before {
   content: "";
   position: absolute;
   width: 50%;
   max-width: 100px;
   height: 1px;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   border-bottom: 3px solid #916DF9;
}

.row {
   margin: 80px 0;
}

.column, .double-column {
   margin: 0 24px 40px;
}

@media screen and (min-width:600px) {   
   .mainContainer {
       max-width: 1200px;
       width: 100%;
       margin: 0 auto;
   }

   .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      column-gap: 160px;
      margin: 80px 0;
      align-items: center;
   }

   .reverse-row {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      width: 100%;
      column-gap: 160px;
      margin: 80px 0;
      align-items: center;
   }

   .top-row {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      width: 100%;
      column-gap: 160px;
      margin: 80px 0;
      align-items: flex-start;
   }

   .nopad-row {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      width: 100%;
      column-gap: 160px;
      margin: 80px 0 0;
      align-items: flex-start;
   }

   .nopad-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      margin: 0;
   }
   
   .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      margin: 0 24px 80px;
   }

   .double-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 2;
      margin: 0 24px 80px;
    }

}